<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div id="app" class="w-full md:max-w-2xl md:my-10 md:mx-auto">
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
    </div>
</body>
</html>