<!DOCTYPE html>
<html>
    <body>
        <h1>Sitemap</h1>
        <ul>
                            <li>https://127.0.0.1:8000/login</li>
                            <li>https://127.0.0.1:8000/hire</li>
                            <li>https://127.0.0.1:8000/contact</li>
                            <li>https://127.0.0.1:8000/resume</li>
                            <li>https://127.0.0.1:8000/coverletter</li>
                            <li>https://127.0.0.1:8000/sitemap</li>
                            <li>https://127.0.0.1:8000/privacy-policy</li>
                            <li>https://127.0.0.1:8000/terms-and-conditions</li>
                    </ul>
    </body>
</html>